@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --color-primary: #e50914;
  --color-secondary: #ffffff;
  --font-oswald: "Oswald", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --shadow-dark: 2px 2px 6px rgba(0, 0, 0, 0.8);
}




.swiper-pagination-bullet {
  @apply bg-secondary  opacity-50 w-2  h-2 rounded-full transition-all duration-300 mx-1;
}

.swiper-pagination-bullet-active {
  @apply bg-primary opacity-100 w-2 h-2;
}